@model AlisverisSepeti
@{
    ViewData["Title"] = "KullaniciSepet";
}

<div style="width:90%; margin:auto" class="mt-3">
    @if (Model != null && Model.SepetDetaylari != null && Model.SepetDetaylari.Count > 0)
    {
        <h3>Sepetim</h3>

        <table class="table table-striped">
            <tr>
                <th>Urun</th>
                <th>Resim</th>
                <th>Kategori</th>
                <th>Birim Fiyat</th>
                <th>Toplam Fiyat</th>
                <th>Ekle/Çıkar</th>
            </tr>
            @foreach (var item in Model.SepetDetaylari)
            {
                <tr>
                    <td>@item.Urun.UrunAdi</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Urun.Resim))
                        {
                            <img src="/resimler/@item.Urun.Resim" style="width: 80px; height: 100px;" />
                        }
                        else
                        {
                            <img src="/resimler/resim-yok.png" style="width: 80px; height: 100px;" />

                        }
                    </td>
                    <td>@item.Urun.Kategori.KategoriAdi</td>
                    <td>@String.Format("{0} TL X {1}", item.Urun.Fiyat, item.Miktar)</td>
                    <td>@($"{item.Urun.Fiyat * item.Miktar} TL")</td>
                    <td>
                        <a class="btn btn-info" href="/Sepet/UrunEkle?urunId=@item.UrunId&redirect=1">+</a>
                        <a class="btn btn-info" href="/sepet/urunkaldir?urunid=@item.UrunId">-</a>
                    </td>
                </tr>
            }
        </table>
        <div class="my-2">
            <h5>Toplam:  @(Model.SepetDetaylari.Select(item => item.Urun.Fiyat * item.Miktar).Sum()) TL</h5>
        </div>

        <div class="my-2">
            <a class="btn btn-primary" href="/Sepet/SatinAl">Satın Al</a>
        </div>
    }
    else
    {
        <h3>Sepet Boş</h3>
    }
</div>